@model ProductListViewModel
<div>
    <h2 class="contct">Kontaktinformation</h2>
        <p class="cntct">Leffes Hantverk</p>
        <p class="cntct" >Jämtlandsvägen 1</p>
        <p class="cntct">133 37 Jämtland</p>
        <p class="cntct">Emailadress : Leif@leffeshantverk.se</p>
        <p class="cntct">Telefonnummer : +4670-13-33-337</p>
</div>
