<div class="row">
    <div class="caption-full">
        <h1 class="hem">Välkommen till Leffes Hantverk!</h1>
    </div>
    <div class="hem1">
        <h2>Vi är stolta att äntligen kunna sälja våra hantverk via vår nya hemsida.</h2>
    </div>

</div>
        
    




